<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 style="color: #B8FF00;">alumnos</h1>
        <table class="table table-dark table-sm">
            <thead class="">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Creditos</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{#each partners}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{role}}</td>
                    <td>{{name}}</td>
                    <td>{{lastname}}</td>
                    <td>{{credit}} ({{formatted_credit_expiration}})</td>
                    <td>
                        <form action="/eliminarr/{{id}}" method="POST"  id="deleteForm{{id}}">
                            <button type="submit" class="btn btn-danger" onclick="confirmDelete('{{id}}')">Delate</button>
                             <td><a href="/editarr/{{id}}" class="btn btn-primary">Update</a></td>   
                        </form>                
                    </td>
                    <td><a href="/acreditacion/{{id}}" class="btn btn-success">Agregar Creditos</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
  function confirmDelete(userId) {
    const confirmed = confirm("¿Seguro de borrar este Usuario?");
    if (confirmed) {
      document.getElementById('deleteForm' + userId).submit();
    }
  }
</script>